{% extends 'templates/base.html.twig' %}

{% block content %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{title}}</h1>
                </div>           
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row justify-content-end ">
                                <a class="btn btn-sm btn-primary" href="/usuario">Voltar</a>
                            </div>
                        </div>                 
                        <form id="form" method="post" class="form-validate" action="{{base_url(base_url)}}/save">
                            <div class="card-body">
                                {# <div class="form-row"> #}
                                    <div class="row g-4">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                            	{% if usuario %}
						                            <input type="hidden" name="id" value="{{ usuario.id }}"/>
					                            {% endif %}
                                                <label class="form-label" for="cnpj">Nome</label>
                                                <input type="text" class="form-control" id="nome" name="nome" value="{{ usuario is defined ? usuario.nome : ''}}" autocomplete="off" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cnpj">E-mail</label>
                                                <input type="text" class="form-control" id="email" name="email" value="{{ usuario is defined ? usuario.email : ''}}" autocomplete="off" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cnpj">Senha</label>
                                                <input type="password" class="form-control" id="senha" name="senha" autocomplete="off" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-4">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cnpj">Tipo do Usuario</label>
                                                <select class="form-control" name="tipo_usuario" id="tipo_usuario" required autofocus>
                                                <option value=""></option>
                                                {% for tipo in tipo_usuario %}}
                                                    <option value="{{ tipo.id }}"{{ usuario is defined and usuario.tipo_usuario_id == tipo.id ? ' selected' : ''}}>{{ tipo.nome }}</option>
                                                {% endfor %}}
                                                </select>
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>
                                <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">
                                            Salvar
                                        </button>
                                </div>
                            </div>
                        </form>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>           
    </section>
{% endblock %}      