{% extends 'templates/base.html.twig'%}

{% block content %}


<!-- Begin Page Content -->
	<div class="content-header">
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>{{title}}</h1>
					</div>           
				</div>
			</div><!-- /.container-fluid -->
		</section>
		
		<div class="card shadow mb-4">
			<div class="card-header">
				<div class="row justify-content-end ">
					<a class="btn btn-sm btn-primary" href="/usuario/novo">Novo Usuario</a>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Nome</th>
								<th>E-mail</th>
								<th>Ações</th>
							</tr>
						</thead>

						<tbody>
							{% for row in usuarios %}
								<tr>

									<td>{{ row.nome }}</td>
									<td>{{ row.email }}</td>
									<td>
										<a title="Editar" href="{{base_url(baseRoute)}}/editar/{{row.id}}" class="btn btn-sm btn-primary">
											<i class="fas fa-user-edit"></i>
										</a>&nbsp;
										<a title="Excluir" class="btn btn-sm btn-danger" onclick="AlertaExcluirUsuario({{ row.id }});">
											<i class="fas fa-user-times"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container-fluid -->

{% endblock %}
